.dashboard {
  background-color: #F14273;
  height: 100vh;
  color: rgb(8, 0, 0) !important;
  cursor: pointer;
}

a{
  text-decoration: none;
}
.dashboard-menu {
  list-style: none;
  
  color:black;
  
}
.dashboard-menu:hover {
  color: cyan;
}
